@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
body {
  background-color: #9266ff;
}

.title {
  text-align: center;
  background-color: rgba(255,255,255, 0.2);
  height: 80px;
  width: 100%;
  padding: 20px 30px;
  color: black;
  font-size: 40px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  border: 0;
  font-family: 'Permanent Marker', cursive;
}

.faiconsAD {
  height: 35px !important;
  position: absolute;
  right: 30px;
}

.faiconsAD:hover {
  cursor: pointer;
}

.note {
  min-height: 400px;
  max-width: 520px;
  width: 90%;
  margin: 40px auto;
  padding-bottom: 15px;
  -webkit-transform: rotate(-1.5deg);
  -moz-transform: rotate(-1.5deg);
  -o-transform: rotate(-1.5deg);
  -ms-transform: rotate(-1.5deg);
  transform: rotate(-1.5deg);
  box-shadow: 0 10px 10px 1px rgba(0,0,0,0.2);
}

.primary, .secondary, .aditional {
  background-color: rgb(27,168,177);
}

.event, .notes, .review {
  background-color: rgba(255, 254, 170, 1);
  transform: rotate(1.5deg);
  max-width: 400px;;
}

.goal {
  background-color: rgba(220,255,70,1);
  margin: 0px auto;
  max-width: 1000px;
  transform: rotate(-0.5deg);
}

.header {
  width: 100%;
}

.goals-form {
  z-index: +1;
  margin: 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.goals-form input{
  width: 80%;
  text-align: start;
  background-color: transparent;
  padding: 0 20px;
  margin: 10px;
  margin-top: 0px;
  height: 50px;
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.3);
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
}

.goals-form input[type="date"] {
  width: 70%;
}

.goals-form input::placeholder {
  color: rgba(0,0,0,0.3);
  font-weight: bolder;
}

.goals-form input:focus, #to-do-form button:focus {
  outline: none;
}

.goals-form button {
  height: 50px;
  max-width: 100px;
  width: 20%;
  border-radius: 5px;
  border: 0;
  margin: 10px 10px;
  background-color: rgba(202, 156, 24, 0.01);
  cursor: pointer;
  font-weight: bolder;
  font-size: 35px;
  color: black;
  display: block;
}

.deadline {
  width: 100%;
  display: flex;
  align-items: center;
}

.deadline button .faiconsAD {
  height: 10px;
}