.goallist {
  color: #fff;
  height: 80px;
  max-width: 1200px;
  width: 95%;
  border-radius: 5px;
  display: flex;
  padding: 0px 10px;
  position: relative;
  margin-top: 30px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#first {
  display: flex;
  flex-wrap: nowrap;
}

.goalsItem {
  width: 90%;
  padding: 0px;
  position: relative;
  transition: ease-in-out;
  display: flex;
}

.goalsItem [class^='col-lg'] {
  padding: 0;
}

.goalsItem input {
  background-color: transparent;
  font-size: 16px;
  border: 0;
  margin: auto 0px;
  max-width: 90%;
  width: 85%;
  color: rgba(0,0,0, 0.7);
  font-weight: bolder;
  text-align: left;
}

.goalsItem input:focus {
  outline: none;
}

.goalsItem input[name='name'] {
  font-size: 20px;
  font-weight: bolder;
}

.goalsItem input[name='deadline'] {
  margin-top: 15px;
}

.goalsItem input[name='description'] {
  font-weight: lighter;
}

.goallist span{
  position: absolute;
  right: 8px;
  top: 15px;
  cursor: pointer
}

.faicons {
  margin: 0 5px;
  color: rgba(214, 69, 65, 0.3);
}

.faicons:hover {
  margin: 0 5px;
  color: rgba(214, 69, 65, 1);
}

.goalRound {
  margin: auto 5px;
  height: 30px;
  width: 30px;
  left: 0;
}

.goalRound label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: 5px;
  position: absolute;
  top: 20px;
  width: 20px;
  margin: 4px;
}

.goalRound label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 4px;
  left: 4px;
  opacity: 0;
  position: absolute;
  top: 5px;
  transform: rotate(-45deg);
  width: 11px;
}

.goalRound input[type="checkbox"] {
  visibility: hidden;
}

.goalRound input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.completed {
  color: rgba(0,0,0, 0.4) !important;
  text-decoration: line-through;
}