.navbar-brand {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5rem;
}

#today {
  font-weight: bolder;
  color: white;
  vertical-align: middle;
}

#today:hover {
  color: rgba(255, 255, 255, 0.8);
}
.angles {
  width: 50px;
}
#maindate {
  color: white;
  background: transparent !important;
  border: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  display: block;
}

.date-controls {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.faiconsAD-nav {
  width: 100px;
  font-size: 30px;
  color: white;

}