.navbar-brand {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5rem;
  margin-right: 20px;
}

.navbar-brand img {
  margin-right: 10px;
}

#logout {
  color: rgba(240, 52, 52, 0.8);
  font-weight: bolder;
  padding: 8px;
}

#logout:hover {
  cursor: pointer;
}

.link-right {
  justify-content: flex-end !important;
}