@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
body {
  background-color: #9266ff;
}

.title {
  text-align: center;
  background-color: rgba(255,255,255, 0.2);
  height: 80px;
  width: 100%;
  padding: 20px 30px;
  color: black;
  font-size: 40px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  border: 0;
  font-family: 'Permanent Marker', cursive;
}

.note {
  min-height: 400px;
  max-width: 520px;
  width: 90%;
  margin: 40px auto;
  padding: 0px;
  -webkit-transform: rotate(-1.5deg);
  -moz-transform: rotate(-1.5deg);
  -o-transform: rotate(-1.5deg);
  -ms-transform: rotate(-1.5deg);
  transform: rotate(-1.5deg);
  box-shadow: 0 10px 10px 1px rgba(0,0,0,0.2);
}

.primary, .secondary, .aditional {
  background-color: rgb(27,168,177);
}

.secondary {
  transform: rotate(1deg) !important;
}

.event, .notes, .review {
  background-color: rgba(255, 254, 170, 1);
  transform: rotate(1.2deg);
  max-width: 400px;;
}

.notes {
  transform: rotate(-0.3deg)!important ;
}

.header {
  width: 100%;
}

.to-do-form {
  margin-top: 2px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.to-do-form input{
  background-color: rgba(27, 112, 137, 0.01);
  margin: 20px;
  margin-top: 0px;
  max-width: 550px;
  width: 80%;
  height: 50px;
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.3);
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
}

.to-do-form input::placeholder {
  color: rgba(0,0,0,0.3);
  font-weight: bolder;
}

.to-do-form input:focus, #to-do-form button:focus {
  outline: none;
}

.to-do-form button {
  height: 50px;
  max-width: 100px;
  width: 20%;
  border-radius: 5px;
  border: 0;
  margin: 10px 10px;
  margin-top: 0px;
  background-color: rgba(202, 156, 24, 0.01);
  cursor: pointer;
  font-weight: bolder;
  font-size: 35px;
  color: black;
  position: absolute;
  right: 10px;
}
